@model SimpleDbMVCExample.ViewModels.EmployeeDepartmentDetailsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.Name)</td>
               
                <td>@Html.DisplayFor(ModelItem => item.DempartmentName)</td>

                
            </tr>
        }
</table>

